html,
body {
  height: 100%;
}

body {
  text-align: center;
  background-image: url("../images/wheat.png");
}

#wrapper {
  width: 960px;
  height: 95%;
  box-sizing: border-box;
  margin: 2.5% auto;
}

button {
  display: block;
  width: 50%;
  height: 10%;
  margin: 0 auto;
  cursor: pointer;
  background: transparent;
  border: 0;
  color: #AAAAAA;
  font-family: Satisfy;
  text-decoration: underline;
  font-size: 4em;
}

button:hover {
  color: yellow;
}

h1 {
  padding-top: 2.5%;
  font-family: Satisfy;
  font-size: 6.5em;
  color: #AAAAAA;
}

.title1 {
  color: #AAAAAA;
  font-size: 3em;
}

.title2{
  color: #AAAAAA;
  font-size: 2em;
  margin: 0em;
  padding: 0em;
}

#timer {
  color: #AAAAAA;
  font-size: 3em;
}

.questions {
  color: #AAAAAA;
  font-size: 3em;

}

.answers {
  color: #AAAAAA;
  font-size: 2em;
  font-family: Satisfy;

}

#start {
  margin-top: 10%;
  background: #AAAAAA;
  border: 2px solid #AAAAAA;
}

button:hover {
  background: #AAAAAA;
  border: 2px solid #AAAAAA;
}
